@using DomurTech.Globalization
@using DomurTech.Providers
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; @SystemSettings.ApplicationName 2017. @Messages.AllRightsReserved <br /><label class="small">(<strong>@Dictionaries.BuildVersion: </strong>@typeof(MvcApplication).Assembly.GetName().Version)</label></p>
    </div>
</footer>